<div class="selector-container">
    <div class="selector">
        <div class="fixtures-container d-flex justify-content-center" style="background-color: #f2f2f2;">
            <div (click)="fixtureSelected(1)" [ngClass]="btn1" class="fixture d-flex justify-content-center align-items-center">
                <div>1</div>
            </div>
            <div  (click)="fixtureSelected(2)" [ngClass]="btn2" class="fixture d-flex justify-content-center align-items-center">
                <div>2</div>
            </div>
            <div (click)="fixtureSelected(3)" [ngClass]="btn3" class="fixture d-flex justify-content-center align-items-center">
                <div>3</div>
            </div>
            <div (click)="fixtureSelected(4)" [ngClass]="btn4" class="fixture d-flex justify-content-center align-items-center">
                <div>4</div>
            </div>
            <div (click)="fixtureSelected(5)" [ngClass]="btn5" class="fixture d-flex justify-content-center align-items-center">
                <div>5</div>
            </div>
            <div (click)="fixtureSelected(6)" [ngClass]="btn6" class="fixture d-flex justify-content-center align-items-center">
                <div>6</div>
            </div>
            <div (click)="fixtureSelected(7)" [ngClass]="btn7" class="fixture d-flex justify-content-center align-items-center">
                <div>7</div>
            </div>
            <div (click)="fixtureSelected(8)" [ngClass]="btn8" class="fixture d-flex justify-content-center align-items-center">
                <div>8</div>
            </div>
            <div (click)="fixtureSelected(9)" [ngClass]="btn9" class="fixture d-flex justify-content-center align-items-center">
                <div>9</div>
            </div>
            <div (click)="fixtureSelected(10)" [ngClass]="btn10" class="fixture d-flex justify-content-center align-items-center">
                <div>10</div>
            </div>
            <div (click)="fixtureSelected(11)" [ngClass]="btn11" class="fixture d-flex justify-content-center align-items-center">
                <div>11</div>
            </div>
            <div (click)="fixtureSelected(12)" [ngClass]="btn12" class="fixture d-flex justify-content-center align-items-center">
                <div>12</div>
            </div>
            <div (click)="fixtureSelected(13)" [ngClass]="btn13" class="fixture d-flex justify-content-center align-items-center">
                <div>13</div>
            </div>
            <div (click)="fixtureSelected(14)" [ngClass]="btn14" class="fixture d-flex justify-content-center align-items-center">
                <div>14</div>
            </div>
            <div (click)="fixtureSelected(15)" [ngClass]="btn15" class="fixture d-flex justify-content-center align-items-center">
                <div>15</div>
            </div>
            <div (click)="fixtureSelected(16)" [ngClass]="btn16" class="fixture d-flex justify-content-center align-items-center">
                <div>16</div>
            </div>
            <div (click)="fixtureSelected(17)" [ngClass]="btn17" class="fixture d-flex justify-content-center align-items-center">
                <div>17</div>
            </div>
            <div (click)="fixtureSelected(18)" [ngClass]="btn18" class="fixture d-flex justify-content-center align-items-center">
                <div>18</div>
            </div>
        </div>
    </div>
</div>
